<table class="table">
  <tr>
    <td>
      <h1>標題：
        <%= @notice.topic %>
      </h1>
    </td>
  </tr>
  <tr>
    <td>
      <h3>來自於：
        <%= User.find(@notice.user_id).name %>
      </h3>
    </td>
  </tr>
  <tr>
    <td>
      <p>內文：</p>
      <p>
        <%= simple_format (@notice.content) %>  
      </p>
    </td>
  </tr>
</table>
<%= link_to '回訊息列表', notices_path , :class => "btn btn-default" %>