<div class="show-topic-wrapper">
  <div class="xs-60-container">
    <h2 class="show-title">標題：<%= @notice.topic %></h2>
    <p>來自於：<%= User.find(@notice.user_id).name %></p>
  </div>
</div>
<div class="show-content xs-60-container container clearfix">
  <%= raw (@notice.content) %>
  <%= link_to raw('<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>'),notices_path , :class => "btn btn-back" %>
</div>
