<h2 class="welcome-title">
  發送訊息通知：
</h2>
<div class="user-list">
  <a href="#" class="btn btn-default select-all-btn pull-right">全選</a>
  <a href="#" class="btn btn-default select-cancel-btn pull-right hidden">取消全選</a>
  <div class="clearfix"></div>
  <div class="panel panel-default user-list">
    <div class="panel-heading user-list">
      <a href="#" class="panel-title">
        個別使用者
        <i class="fa fa-plus pull-right" aria-hidden="true"></i>
        <i class="fa fa-minus pull-right hidden" aria-hidden="false"></i>
      </a>
    </div>
    <ul class="list-group penel-body user-list hidden">
      <% User.all.each do |u| %>
        <% if u.id != 1 %>
          <li class="list-group-item">
              <%= check_box_tag "recipient_id[]", u.id,false,:class => 'hidden' %>
              <a class="user-list-link" href="#"><%= u.name %></a>
            </label>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="class-list">
  <a href="#" class="btn btn-default select-all-btn pull-right">全選</a>
  <a href="#" class="btn btn-default select-cancel-btn pull-right hidden">取消全選</a>
  <div class="clearfix"></div>
  <div class="panel panel-default class-list">
    <div class="panel-heading class-list">
      <a href="#" class="panel-title">
        整個班級
        <i class="fa fa-plus pull-right" aria-hidden="true"></i>
        <i class="fa fa-minus pull-right hidden" aria-hidden="false"></i>
      </a>
    </div>
    <ul class="list-group penel-body class-list hidden">
      <% Classroom.all.each do |c| %>
        <li class="list-group-item">
            <%= check_box_tag "classroom_id[]", c.id,false,:class => 'hidden' %>
            <a class="class-list-link" href="#"><%= c.name %></a>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
</div>