<h1>
  <%= @homework.title %>
</h1>
<%= simple_format(@homework.describe) %>

<p>
<% if current_user.adminkey_id == 1 %>
  <%= link_to '編輯', edit_homework_path(@homework), :class => "btn btn-default" %>
<% end %>
<%= link_to '回首頁' , posts_path, :class => 'btn btn-default' %>
</p>