<h1>
  <%= Posttype.find(@post.posttype_id).typename  %>
  <%= @post.topic %>
  <% if current_user && current_user.adminkey_id == 1 %>
    <%= link_to '編輯', edit_post_path(@post), :class => "btn btn-primary" %>
  <% end %>
</h1>
  <%= raw (@post.content) %>
<p>
