nav li.nav{
  font-size: 3em;
}

nav li.pull-right{
  margin-right: 0.5em;
}
nav li.pull-left{
  margin-left: 0.5em;
}

ul.dropdown-menu span{
  margin-left: 0.5em ;
}

.body-wrapper{
  min-height: 90%;
  position: relative;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4286f4;
}

.footer p{
  margin-top: 1em;
}

.footer a{
  color: white;
}

.postwrapper{
  color: black;
  line-height: 300%;
}
.postwrapper:hover{
  background-color: #EEE;
}

@media (max-width: 450px){
  body{
    height: 600px;
  }

  .footer{
    height: 15%; 
  }  
}
@media (min-width: 451px){
  body{
    height: 750px;
  } 

  .footer{
    height: 20%;
  }
}
