nav li.nav{
  font-size: 3em;
}

nav li.pull-right{
  margin-right: 0.5em;
}
nav li.pull-left{
  margin-left: 0.5em;
}

ul.dropdown-menu span{
  margin-left: 0.5em ;
}

.welcome-note{
  margin-bottom: 2em;
}

.footer{
  margin-top: 2em;
}

.footer p{
  margin-top: 1em;
}

.footer a{
  color: black;
}

.postwrapper{
  color: black;
  line-height: 200%;
}
.postwrapper:hover{
  background-color: #EEE;
}

h2{
  height: 1.5em;
}

.posttype-list{
  width: 60%;
  margin: 1em auto;
  position: relative;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table p{
  margin: 0 auto;
  line-height: 2em;
}

.form-div{
  position: relative;
}

.new_posttype .input-group{
  margin: 0 auto;
  margin-top: 2em;
}

@media (max-width: 450px){
    
}
@media (min-width: 451px){

}
