// general css settings
html{
  height: 100%;
  background-color: #222;
}

body{
  position: relative;
  padding-top: 4.5em;
  background-color: #222;
}

.navbar{
  height: 4.5em;
  margin-bottom: 0;
  border-radius: 0;
}
nav li.nav{
  font-size: 3em;
}

nav li.pull-right{
  margin-right: 0.5em;
}
nav li.pull-left{
  margin-left: 0.5em;
}

ul.dropdown-menu span{
  margin-left: 0.5em ;
}

.body-render{
  position: relative;
  min-height: 41em;
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

h2.welcome-title{
  height: 1em;
}

.welcome-note{
  margin-bottom: 1em;
}

a.btn-back{
  position: fixed;
  bottom: 0.6em;
  right: 0;
  z-index: 20;
  font-size: 5em;
  color: rgba(0, 0, 0,0.5);
}

#footer{
  position: relative;
  clear: both;
  padding-top: 1em;
  color: #EEE;
  background-color:#222;
}

// post.index settings
#newstable > tbody > tr > td{
  padding: 0;
}

table#newstable td a{
  display: block;
  text-decoration: none;
  line-height: 200%;
  color: black;
}

// posttype.index settings
.posttype-list{
  margin: 1em auto;
  position: relative;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table p{
  margin: 0 auto;
  line-height: 2em;
}

.form-div{
  position: relative;
}

.new_posttype .input-group{
  margin: 0 auto;
  margin-top: 2em;
}

// post.edit & new settings
.post-submit-btn {
  margin-top: 1em;
}

// post.show settings
.show-topic-wrapper{
  margin-top: -1em;
  padding: 0.5em 2em;
  background-color: #7aadff;
  position: relative;
}
.show-title{
  margin-top: 0;
}
.post-show-btn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.show-content{
  position: relative;
  padding-top: 1em;
}
//notie.index settings
#notice-table > tbody > tr > td{
  padding: 0;
}

table#notice-table td a{
  display: block;
  text-decoration: none;
  line-height: 200%;
  color: black;
}

//notice.new settings
li.list-group-item label{
  display: block;
}

.user-list .panel-heading,.user-list .list-group-item{
  padding: 0;
}

.user-list a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.user-list a.panel-title{
  
}

.fa{
  font-size: 1.5em;
}

//RWD settings
@media (max-width: 450px){
  .account-mng-table .account-email{
    display: none;
  }
  
  .notice-sender{
    display: none;
  }

  .account-selectbox .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
  }
}
@media (min-width: 451px){
  .posttype-list{
    width: 60%;
  }
  
  .xs-60-container{
    position: relative;
    margin: 0 auto;
    width: 60%;
  }
}
