<div class="footer">
  <div class="container">
    <p class="text-center">Copyright ©2016 Tianhe
      <br>Design by <a href="mailto:tianhein0719@gmail.com" target=_new>Tianhe Lin</a>
    </p>
  </div>
</div>